<%- include('../layouts/cabecera.ejs') %>   

<div class="row">
  <div class="col-5 ">
    <div class="text-end"></div>
    <h2 class="text-center py-5 ">Bienvenido</h2>

    <form action="#" id="userForm">
      <div class="mb-4">
        <label for="name" class="from-label" >nombre</label>
        <input type="name" name="nombre" id="usuario" class="form-control" required>
      </div>
      <div class="mb-4">
        <label for="clave" name="clave"  class="from-label">clave</label>
        <input type="password" class="form-control" id="clave" required>
      </div>
      <div class="mb-4 from-check">
        <input type="checkbox" name="connected" class="form-check-input" >
        <label for="connected" class="form-check-label">mantenerme conectado</label>
      </div>
      <div class="d-grid">
        <a href="/usuarios" type="button" class="btn btn-primary" >Iniciar sesión</a>
      </div>

      <div class="my-3">
        <span>No tienes cuenta?<a href="">Registrate</a></span> <br>
        <span><a href="#">Recuperar contraseña</a></span>
      </div>
    </form>  
  </div>
</div>

<%- include('../layouts/pie') %>