<%- include('../layouts/cabecera.ejs') %>   


<form method="post" action="/">

  <div class="form-group mb-3 col-3 ">
      <label for="myinput" class="form-label">Nombre: <br><%=rol.nombre%> </label>
      <input type="text" value="" name="nombre" id="myinput" class="form-control" placeholder="" aria-describedby="helpId">
  </div>
  <div class="mb-3 col-3 ">
    <label for="myinput" class="form-label">descripcion: <br><%=rol.descripcion%> </label>
    <input type="text" value="" name="descripcion" id="myinput" class="form-control" placeholder="" aria-describedby="helpId">
</div>
<br>
  <button type="submit" class="btn btn-primary" >Button</button>
</form>

<%- include('../layouts/pie') %>