<%- include('../layouts/cabecera.ejs') %>   

<div class="row mt-5 ">
  <div class="col-4">
    <h1><strong> Producto</strong></h1>
  </div>
<form method="post" action="../actualizar/">
  <div class="col-4">
    <div class="input-group">
      <select class="form-select" id="inputGroupSelect" aria-label="button-addon">
          <option selected>Producto...</option>
        <% for( let n = 0; n < prodl.rows.length; n++ ) { %>
          <option value="<%= n %> "><%= prodl.rows[n].nombre %> </option>
        <% } %>
      </select>
    </div>
  </div>
</div>


  <div class="form-group mb-3 col-3 ">
      <label for="myinput" class="form-label">Nombre</label>
      <input type="text" value="" name="nombre" id="myinput" class="form-control" placeholder="" aria-describedby="helpId" required>
  </div>
  <div class="mb-3 col-3 ">
    <label for="myinput" class="form-label">fecha_inicio</label>
    <input type="date" value="" name="descripcion" id="myinput" class="form-control" placeholder="" aria-describedby="helpId" required>
  </div>
  <div class="mb-3 col-3 ">
    <label for="myinput" class="form-label"> </label>
    <input type="date" value="" name="descripcion" id="myinput" class="form-control" placeholder="" aria-describedby="helpId" required>
</div>
<br>
  <button type="submit" class="btn btn-primary" >Button</button>
</form>

<%- include('../layouts/pie') %>